<div class="add-product-wrapper">

    <div class="add-product-body">
        <div class="heading">
            <h3>
                Add Product
            </h3>
        </div>
        <form [formGroup]="addProductForm">

            <div class="input-wrapper">
                <label for="username">id</label>
                <input type="text" placeholder="Enter unique id" formControlName="id">
            </div>

        <div class="input-wrapper">
            <label for="heading">heading</label>
            <input type="text" placeholder="Enter Heading" formControlName="heading">
        </div>
        <div class="input-wrapper">
            <label for="description">description</label>
            <input type="text" placeholder="Enter description" formControlName="description">
        </div>
        <div class="input-wrapper">
            <label for="imageUrl">imageUrl</label>
            <input type="text" placeholder="Enter imageUrl" formControlName="imageUrl">
        </div>

    </form>

        <div class="btn-wrapper">
            <app-button title = "Add Product" (click)= "addProduct()"></app-button>
            <app-button title = "Cancel" (click)= "Cancel()"></app-button>
        </div>
    </div>


</div>
