@import "../../../theme/variable.scss";

.card {
  width: 100%;
  background-color: var(--white);
  border-radius: 15px;
  
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .info{
    padding: 1em 1.5em 2em; 
    color: var(--text-color);
    p{
      margin-top: 1em;
    }
  }
  .btn-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0 0 2rem;

  }
}
