
.edit-product-wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  .edit-product-body{
    width: 30%;
    // height: 400px;
    background-color: var(--white);
    border-radius: 15px;
    padding: 2em;

    .input-wrapper {
      display: flex;
      flex-direction: column;
      margin: 2em 0;
      input { 
        margin-top: 1em;
        border: none;
        outline: none;
        border-bottom: 1px solid;
        font-size: 1.2rem;
      }
    }
    .btn-wrapper{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}
