@import '../theme/variable.scss';

main{
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-bg);
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    margin-top: 50px;
    .container{
        display: grid;
        width: 80%;
        grid-template-columns: repeat(auto-fit,minmax(250px,300px));
        grid-auto-rows: auto;
        grid-gap: 30px;
        justify-content: center;
    }

}