@import '../theme/variable.scss';

main{
    width: 100vw;
    background-color: $primary-bg;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    margin-top: 50px;
    .container{
        display: grid;
        width: 80%;
        grid-template-columns: repeat(auto-fit,minmax(250px,300px));
        grid-auto-rows: auto;
        grid-gap: 30px;
        justify-content: center;
    }

}