<app-header></app-header>
<app-login *ngIf="this.stateService.loggedInFormView"></app-login>
<app-add-product (newItemEvent)="addItem($event)" *ngIf="this.stateService.addProductFormView"></app-add-product>
<app-edit-products id={{id}} (newItemEvent)="addItem($event)" *ngIf="this.stateService.editProductFormView"></app-edit-products>
<main>
  <div class="container">
    <div *ngFor="let item of products">
      <app-card
      [product]="item"
        (newItemEvent)="addItem($event)"
        (newItemIdEvent)="editItem($event)"
      >
      </app-card>
    </div>
  </div>
</main>

