
    .login-btn{
        background-color: var(--primary-color);
        padding: 0.5em 2em;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 3px #0000001f;
        color: var(--white);
        // margin: 0.5rem 1rem;
        outline: none;
        cursor: pointer;
    }